@import url(https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,800,900,300italic,400italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:400,300,500,600,700);

* {
    margin: 0;
    padding: 0;
}

body {
    background: #fff;
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
    color: #777;
    font-weight: 400;
    font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    letter-spacing: -1px;
}

p {
    font-size: 14px;
    color: #777;
    line-height: 25px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.4px;
}


.intro-demo {
    background: url(../images/BR_intro-demo.jpg) top center;
    background-size: cover;
    padding: 180px 0;
}

div .intro .container {
    position: relative;
    z-index: 77;
    max-width: 1170px;
    width: 100%;
}

body {

    overflow-y: scroll;
}

.intro .container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.intro .row {
    margin: 0 -15px;
}

.intro .col-md-10 {
    padding-left: 15px;
    padding-right: 15px;
}

.intro-demo h2 {
    color: #fff;
    font-size: 50px;
    line-height: 70px;
    margin: 0px 0 20px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 23px;
}


.intro-demo p {
    color: #fff;
    font-size: 36px;
    line-height: 42px;
    margin: 0 0 60px;
    font-weight: 300;
}

.btn {
    font-weight: bold;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 15px 17px;
    border: none;
    text-transform: uppercase;
    font-family: Poppins;
    border-radius: 0px;

}

.btn.btn-lg {
    font-size: 12px;
    padding: 14px 35px;
    line-height: 1.3333333;

}

.btn.btn-primary {
    background-color: #1dc6bc;
    border: 2px solid #1dc6bc;
}

.btn.btn-primary:hover {
    background-color: #111;
    border-color: #111;
    color: #fff;
}

.dual-btn a {
    margin: 0 10px;
}

.dual-btn 

.btn i {
    margin-left: 15px;
}


a {
    color: #333;
}

a:hover {
    color: #1dc6bc;
}

a,
a:hover,
a:focus,
button,
button:hover {
    outline: 0;
    text-decoration: none;
    transition: .4s;
}

.btn.btn-default.btn-border {
    border-color: #ffffff;
    color: #fff;
}


.btn.btn-default {
    color: #000;
    background-color: #ffffff;
    border: 1px solid #e6e6e6;
}

.btn.btn-default.btn-border {
    border-color: #ffffff;
    color: #fff;
}

.btn.btn-default:hover {
    background-color: #e6e6e6;
    color: #000;
}

.btn.btn-lg {
    font-size: 12px;
    padding: 14px 35px;
}

.btn.btn-border {
    border: 2px solid;
    background: transparent;
}

.ribbon {
    position: fixed;
    background: #1dc6bc none repeat scroll 0 0;
    letter-spacing: 1px;
    line-height: 50px;
    position: absolute;
    text-align: center;
    width: 200px;

    right: -50px;
    top: 25px;
    transform: rotate(45deg);
}

.ribbon a {
    color: #fff;
    font-family: Poppins;
    font-weight: bold;
    font-size: 12px;
}

/*thân (demo) */


.demo {
    padding: 60px 55px 0;
    margin-bottom: -100px;
}

.container-demo {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.demo-img {

    -moz-box-shadow: 0px 40px 80px -40px rgba(0, 0, 0, 1);
    box-shadow: 0px 40px 80px -40px rgba(0, 0, 0, 1);
    margin: 0 0 50px;
    border-radius: 3px;
    overflow: hidden;
    max-height: 240px;
    transform: scale(1);
    transition: .4s;
}

.demo-img:hover {
    transform: scale(1.05);
    transition: .5s;
}


/*page-bottom*/
ul,
ol,
li {
    margin: 0;
    padding: 0;
    list-style: none;
}


footer {
    padding: 80px 0 40px;
}

.footer-container {
    max-width: 1170px;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

footer .page-brand {
    float: none;
    padding-bottom: 30px;
    display: table;
    width: 100%;
    font-size: 20px;
    color: #000;
}

.page-brand {
    font-family: Poppins;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    float: left;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.space20 {
    margin-bottom: 20px;
}

.footer-container {
    max-width: 1170px;
    width: 100%;
    margin: auto;
}

.list-inline > li {
	display: inline-block;
	padding-right: 2px;
	padding-left: 4px;
}


footer .fa-brands{
    width: 40px;
    height: 40px;
    padding-top: 14px;
    text-align: center;
    color: #FFF;
    font-size: 14px;
}

.social-icons .fa-facebook-f {
	background-color: #3C599F;
}

.social-icons .bi-twitter {
	background-color: #32ccfe;
}

.social-icons .fa-google-plus-g {
	background-color: #cf3d2e;
}

.social-icons .fa-linkedin-in {
	background-color: #0085AE;
}

.social-icons .fa-xing {
	background-color: #00555c;
}

.social-icons.icon-circle .fa-brands {
	border-radius: 50%;
}

.fa-brands {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .copy {
    margin: 0;
    padding-top: 30px;
    font-size: 14px;
    letter-spacing: 1px;
}





